ion-content {
  --background: linear-gradient(
    to bottom,
    var(--ion-color-primary-tint), 
    var(--ion-color-primary) 
  );
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 90%; 
  max-width: 450px;
  --background: #ffffff;
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;  border-radius: 10px;
  padding: 10px 0; 
  border: 4px solid red; // Borde inicial, el color cambiará
  animation-name: rainbowWave;
  animation-duration: 2s;       // Duración rápida para el efecto "MLG"
  animation-iteration-count: infinite;
  animation-timing-function: linear; // Transición constante
}

img {
  max-width: 150px; 
  margin-bottom: 5px; 
}

h2 {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 0; 
}

h1 {
  font-size: 2.2em;
  font-weight: bold;
  color: var(--ion-color-primary);
  margin-top: 0; 
  margin-bottom: 5px;
}

.tagline {
  font-size: 1em;
  color: #888;
  margin-bottom: 30px; 
}

.button-container {
  padding: 0 15px;

  ion-button {
    margin-top: 15px;
    height: 48px;
    font-weight: 500;
  }
}

.ion-padding md .content-ltr .hydrated{
  background-color: red;
}

ion-card-content { // Añadimos esto para asegurar que el contenido interno no se vea afectado
  position: relative; // Ayuda a mantener el contenido por encima de cualquier efecto raro del borde
  z-index: 1;
}


@keyframes rainbowWave {
  0%   { border-color: red; }
  14%  { border-color: orange; }
  28%  { border-color: yellow; }
  42%  { border-color: lime; } // Verde lima brillante
  57%  { border-color: cyan; } // Azul claro/cyan
  71%  { border-color: blue; }
  85%  { border-color: purple; }
  100% { border-color: red; } // Vuelve al inicio para el bucle
}
