<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-container">

    <ion-card>
      <ion-card-content class="ion-text-center">

        <img src="assets/logo2.png" alt="Logo de Negocio Libre">

        <h2>Bienvenido a</h2>
        <h1>Negocio Libre</h1>
        <p class="tagline">Conectando negocios locales</p>

        <div class="button-container ion-margin-top">
          <ion-button routerLink="/login" expand="block" shape="round">
            Iniciar Sesión
          </ion-button>
          <ion-button routerLink="/registro-cliente" expand="block" shape="round" fill="outline" color="secondary">
            Crear una Cuenta
          </ion-button>
        </div>

        </ion-card-content>
    </ion-card>

  </div>
</ion-content>