<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta de Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Regístrate</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registroFormu" (ngSubmit)="Registro()">

          <ion-item>
            <ion-label position="floating">RUT (sin puntos, con dígito verificador)</ion-label>
            <ion-input type="text" formControlName="rut" maxlength="9" (ionInput)="onRutInput($event)"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registroFormu.get('rut')?.invalid && registroFormu.get('rut')?.touched" class="error-note">
            El RUT es obligatorio y debe incluir el dígito verificador (Ej: 12345678K).
          </ion-note>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registroFormu.get('nombre')?.invalid && registroFormu.get('nombre')?.touched" class="error-note">
            El nombre es obligatorio
          </ion-note>

          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registroFormu.get('email')?.invalid && registroFormu.get('email')?.touched" class="error-note">
            <span *ngIf="registroFormu.get('email')?.hasError('required')">El correo es obligatorio.</span>
            <span *ngIf="registroFormu.get('email')?.hasError('pattern')">Ingresa un correo válido.</span>
          </ion-note>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registroFormu.get('password')?.invalid && registroFormu.get('password')?.touched" class="error-note">
            Mínimo 8 caracteres.
          </ion-note>

          <ion-button class="ion-margin-top" type="submit" [disabled]="!registroFormu.valid" expand="block" shape="round">
            Registrarme
          </ion-button>
        </form>
        <div class="ion-text-center ion-margin-top negocio-link-container">
          <a routerLink="/registro-vendedor" class="negocio-link">¿Eres un vendedor? Registra tu negocio aquí</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>